@model AdminCategoryVM
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x=>x.ID)
    <div class="row">
        <div class="col-sm-12">

            <section class="panel">
                <header class="panel-heading">
                    Kategori Ekleme Sayfası
                </header>

                <div class="panel-body">


                    <div class="form-group">
                        <label class="col-sm-2">Kategori Isim</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control-genislik" })
                        </div>
                    </div>


                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Acıklama</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control-genislik" })
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">İşlem:</label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Ekle</button>
                        </div>
                    </div>


                </div>


            </section>


        </div>
    </div>



}

